*{
	margin:0;
	padding:0;
	list-style:none;
	text-decoration:none;

}

.sidebar{
	top:70px;
 position:fixed; 
left:0px;
width:250px ;
height:100%;
background:#042331;	
transition: all .5s ease ;
}

.sidebar header{
	font-size:28px;
	color:#34e0d2;;
	text-align:center;
	line-height:100px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	
	user-select:none;
}

.sidebar ul a {
	display:block;
	height:100%;
	width:100%;
	line-height:65px;
	font-size:20px;
	color:white;
	padding-left:40px;
	box-sizing:border-box;
	border-top: 1px solid rgba(255,255,255,.1);
	border-bottom: 1px solid black;
    transition: .4s;
}

.sidebar ul li:hover a {
	padding-left:70px;
}

.sidebar ul a i {
	margin-right:16px;
}

.sidebar:hover{
	width: 300px;
		}

	.sidebar ul li:hover{
		background:rgb(255,165,0);
	}




.sidebar-content {
	background:url(bg3.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	height: 90%;
	overflow-y: auto;
	overflow-x: hidden;
	}
	::-webkit-scrollbar {
		width: 0px;
		background: transparent; 
 }
	.sidebar-content h1 {
		text-align: center;
		
	}



	 .fa-user-circle:before{
		
		color:#34e0d2;
	}

