.pres_question_admin{
    position: relative;
    width:800px;
    height:70px;
   margin-left:350px;
   margin-top:100px;
   text-align: center;
    font-size: 25px;
    background-color: rgb(13, 13, 14);
    color:rgb(233, 232, 238);
    font-family:"Geneva";
}







.button_update_question{
    position: relative;
    left:10px;
    bottom:4px;
    width:110px;
    height:58px;
    border:none;
    outline:none;
    background-color:red;
    color: white;
    font-size: large;
    font-family:   'Arial Narrow Bold', sans-serif;
    border-radius: 10px; 
    }

    .button_update_question:hover{
       color:#f7f4eb;
       background:	red;
       box-shadow:0 0 10px #f7f7f8, 0 0 40px #edf2f7;
    }

    .button_update_question:active{
        outline:none;
        border:none;
        color:rgb(255, 255, 255);
    }

    .button_update_question:focus{
        outline:none;
        border:none;
    }


    .button_update_question:hover + .result{
        
        box-shadow:0 0 40px #f7f7f8, 0 0 40px #edf2f7;
        background-color: rgb(255,165,0);
        
        
     }